@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    box-sizing: border-box;
}
body{

    background-image:  url(image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   font-family: 'Lato','sans-serif';
   background-color:#9db7ffe7;
   color: #222;
   overflow-x: hidden;
   margin: 0;
    
}

.card-body{
    background-color:rgb(41, 173, 255);
}
.card-header{
    background-color: blue;
    color: blue;
}
label{
    color: aliceblue;
}
.float-right{
        color: #fff;
        border: 2px;
        padding-right: 5px;
        background-color: #fff;
        background-size: 10px;
      }
       .container-tab{
        margin:25px;
        padding: 70px;
      }
      
      .table{
        padding: 20px;
        color: black;
      }
      table{
        padding: 10px
      }
      thead{
        padding: 10px;
      }
      tbody{
        padding: 10px;
        size: 10px
      }
      .mynav{
        background-color: blue;
      }
    span{
        color: #fff;
      }
      .navbar-ink{
        border: 2px;
        padding: 2px;
        background-color: aliceblue;
        background-size: 5px;
      }
      